.title {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  .title.selected {
    background-color: #f0f0f0;
  }
  
  .title.h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .title.h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .title.h3 {
    font-size: 16px;
    font-weight: bold;
  }
  